.left-item {
  height: 100px;
  background-color: #ccc;
  margin: 10px; }

.mid-item {
  height: 400px;
  background-color: #ccc;
  margin: 0px 10px; }

.right-item {
  height: 50px;
  background-color: #ccc;
  margin: 0px 10px; }

footer {
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center; }
